
<ul class="nav navbar-nav navbar-right">
  <li class="hidden">
    <a href="#page-top"></a>
  </li>
  <li class="page-scroll">
    <%=link_to 'Home', root_path %>
  </li>
  <li class="page-scroll">
    <%=link_to 'About', about_path %>
  </li>
  <% if user_signed_in? %>
    <li class="page-scroll">
      <%=link_to 'Vote D/D!', pictures_path %>
    </li>
    <li class="page-scroll">
      <%=link_to 'My D/D Pics', '' %>
    </li>
    <li class="page-scroll">
      <%=link_to 'Upload', new_picture_path %>
    </li>
  <% end %>
  <% if session[:user_id] %>
    <li class="page-scroll">
      <%= link_to 'Logout', logout_path, method: :delete %>
    </li>
  <% else %>
    <li class="page-scroll">
    <%= link_to 'Signup', signup_path %>
    </li>
    <li style="padding-top: 10px;">
      <%= form_tag(login_path) do %>
        <%= text_field_tag :username, nil, placeholder: 'Username' %>
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
        <%= submit_tag('Login') %>
      <% end %>
    </li>
  <% end %>
</ul>
