<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dope or Derp?</title>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link href="css/freelancer.css.scss" rel="stylesheet"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">
	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
			<div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">Dope? or Derp?</a>
    	</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<%= render 'layouts/navbar' %>
	  	</div>
		</div>
	</nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="img/profile.png" alt="">
          <div class="intro-text">
          	<span class="skills">Is your picture...</span>
            <span class="name">Dope? or Derp?</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm=12">
    	<% flash.each do |key, value| %>
    		<%= value %>
    	<% end %>

    	<%= form_tag(result_path, :method => "get", id: "search-form") do %>
    		<%= text_field_tag :search, params[:search], placeholder: "Search dopes & derps..." %>
    		<%= submit_tag "Search", :name => nil %>
  		<% end %>
      <div class="container">
      <%= yield %>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <footer>
      </footer>
    </div>
  </div>

</div>

</body>
</html>
